<div class="play-container">
	<div class="joinGameForm" ng-show="joinForm">
		<form ng-submit="joinGame()">
			<div>
				Username:</br>
				<input type="text" ng-model="opponentName" /></br>
				<button type="submit" class="btn btn-primary">Let's play</button>
			</div>
		</form>
	</div>
	<div class="grid text-center" id="ab" ng-show="grid">
		<div class="row">
			<div class="col-md-4 box" id="nr1" ng-click="sum('nr1', [0,0])"><p></p></div>
			<div class="col-md-4 box" id="nr2" ng-click="sum('nr2', [0,1])"><p></p></div>
			<div class="col-md-4 box" id="nr3" ng-click="sum('nr3', [0,2])"><p></p></div>
		</div>
		<div class="row">
			<div class="col-md-4 box" id="nr4" ng-click="sum('nr4', [1,0])"><p></p></div>
			<div class="col-md-4 box" id="nr5" ng-click="sum('nr5', [1,1])"><p></p></div>
			<div class="col-md-4 box" id="nr6" ng-click="sum('nr6', [1,2])"><p></p></div>
		</div>
		<div class="row">
			<div class="col-md-4 box" id="nr7" ng-click="sum('nr7', [2,0])"><p></p></div>
			<div class="col-md-4 box" id="nr8" ng-click="sum('nr8', [2,1])"><p></p></div>
			<div class="col-md-4 box" id="nr9" ng-click="sum('nr9', [2,2])"><p></p></div>
		</div>
	</div>
	<div class="shareUrl text-center" ng-show="!joinForm && grid">
		<h3>Share this URL with a worthy opponent</h3>
		<p id="joinUrl"><strong>{{joinUrl}}</strong></p>
		<p class="winner">Winner: </p>
	</div>
	<script src="/socket.io/socket.io.js"></script>
	<script>
		var socket = io();
	</script>
</div>